{% extends "index.html" %}

{% block content %}

    <div class='container'>
         
        <br>
        <a href="{% url 'company:add-client' %}">Add Client</a><br>
        
        <h1>ClientList</h1><br>
        <form method='GET' autocomplete="off">
          <input type='text' name='search' autocomplete="off">
          <button type='submit' class='btn btn-info'>Search</button>
        </form>
        <a href="{% url 'company:client-list' %}">All</a>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Particulars</th>
                <th scope="col">Email</th>
                <th scope="col">Joining Date</th>
                <th scope="col">Action</th>
                
              </tr>
            </thead>
            <tbody>
            {% for client in client_list %}

              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{client.name}}</td>
                <td>{{client.particulars}}</td>
                <td>{{client.email}}</td>
                <td>{{client.joining_date}}</td>
                <td> <a href="{% url 'company:client-update' client.id  %}" class='btn btn-primary'>View</a> | <a href="{% url 'company:client-delete' client.id %}" class='btn btn-danger'>Delete</a>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
                    Delete Client
                  </button>
                  
                </td>
               
              </tr>
            {% endfor %}
             
            </tbody>
          </table>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  
                    Are you sure you want to Delete {{client.name}}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" >Delete</button>
                  </div>
                </div>
              </div>
            </div>
        
    </div>


{% endblock content%}
