{% extends "index.html" %}

{% block content %}

    <div class='container'>

        <br>
        <a href="{% url 'company:add-client' %}">Add Client</a><br>
        
        <h1>ClientList</h1><br>
        <form method='GET' autocomplete="off">
          <input type='text' name='search' autocomplete="off">
          <button type='submit' class='btn btn-info'>Search</button>
        </form>
        <a href="{% url 'company:client-list' %}">All</a>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Particulars</th>
                <th scope="col">Email</th>
                <th scope="col">Joining Date</th>
                <th scope="col">Action</th>
                
              </tr>
            </thead>
            <tbody>
            {% for client in client_list %}

              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{client.name}}</td>
                <td>{{client.particulars}}</td>
                <td>{{client.email}}</td>
                <td>{{client.joining_date}}</td>
                <td> <a href="{% url 'company:client-update' client.id %}" class='btn btn-primary'>View</a> | <a href="{% url 'company:client-delete' client.id %}" class='btn btn-danger'>Delete</a>
                  |<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">
                    Update Data
                  </button>
                </td>
              </tr>

            {% endfor %}
             
            </tbody>
          </table>
          <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateModalLabel">Update Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Your form for updating data goes here -->
                  <form method="post" action="#">
                    {% csrf_token %}
                    <!-- Form fields go here -->
                    <!-- Example: -->
                    <div class="form-group">
                      <label for="updateData">Update Data:</label>
                      <input type="text" class="form-control" id="updateData" name="updateData">
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>


{% endblock content%}
