{% extends "index.html" %}

{% block content %}

    <h3> Client Report </h3>

    <form method="POST">
        {% csrf_token %}

        <label >Search by Date from:</label>
        <input type="date"  name="start_date" required>

        <label >To :</label>
        <input type="date" name="end_date" >

        <button type="submit" class='btn btn-info'>Generate Report</button>
    </form>
    <br>
              
      <br>
    {% if client_list %}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Customer Joining Date</th>
              </tr>
            </thead>
            <tbody>
            {% if client_list %}
                {% for client in client_list %}

                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{client.name}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.joining_date}}</td>               
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">No report found.</td>
            </tr> 
                
            {% endif %}
            </tbody>
          </table>
          <br>
          {% if total_client %}
            <table class="table table-bordered">
              <thead>
                  <tr> 
                      <th scope="col">Total Client</th>
                      <th scope="col">{{total_client}}</th>
                  </tr>
              </thead>
          {% endif %}

      {% else %}

          <table class="table table-bordered">
              <thead>
                <tr>
                    
                        <th scope="col">#</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer Email</th>
                        <th scope="col">Customer Joining Date</th>
                       
                </tr>
              </thead>
              <tbody>
                
              {% for invoice in invoices %}

                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{invoice.invoice_date}}</td>
                  <td>{{invoice.invoice_no}}</td>
                  <td>{{invoice.customer}}</td>
                  
                  <td>{{invoice.amount}}</td>
                  
                </tr>

              {% endfor %}
              
              </tbody>
            </table> {{expenses}}

            <br>
    
           
      {% endif %}


  


        
     
{% endblock content%}