{% extends "base.html" %}

{% block content %}

    <div class='container'>

        <br>
        <a href="{% url 'company:add-intern' %}">Add Intern</a><br>
        
        <h1>InternList</h1><br>
        
        <form method='GET'>
            <input type='text' name='search'>
            <button class='btn btn-info' type='submit'>Search</button>
        </form>

        <a href="{% url 'company:intern-list'%}">All</a>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Particulars</th>
                <th scope="col">Email</th>
                <th scope="col">Joining Date</th>
                <th scope="col">Action</th>
                
              </tr>
            </thead>
            <tbody>
            {% for intern in intern_list %}

              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{intern.name}}</td>
                <td>{{intern.particulars}}</td>
                <td>{{intern.email}}</td>
                <td>{{intern.joining_date}}</td>
                <td> <a href="{% url 'company:intern-update' intern.id %}" class='btn btn-primary'>View</a> | <a href="{% url 'company:intern-delete' intern.id %} " class='btn btn-danger'>Delete</a> </td>
              </tr>

            {% endfor %}
             
            </tbody>
          </table>

    </div>


{% endblock content%}
