{% extends "index.html" %}

{% block content %}

   
    <form method="POST">
        {% csrf_token %}

        <label >Search by Date from:</label>
        <input type="date"  name="start_date" required>

        <label >To :</label>
        <input type="date" name="end_date" >

        <button type="submit" class='btn btn-info'>Generate Report</button>
    </form>
    <br>
              
        <br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Invoice Number</th>
                <th scope="col">Customer Name</th>
                
                <th scope="col">Total Amount</th>
               
                
              </tr>
            </thead>
            <tbody>
            
            {% for invoice in invoices %}

              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{invoice.invoice_date}}</td>
                <td>{{invoice.invoice_no}}</td>
                <td>{{invoice.customer}}</td>
                
                <td>{{invoice.amount}}</td>
                
              </tr>

            {% endfor %}
             
            </tbody>
          {% comment %} </table> {{expenses}} {% endcomment %}

          <br>
        <table class="table table-bordered">
            <thead>
                <tr> 
                    <th scope="col">Total Income</th>
                    <th scope="col">{{total_income}}</th>
                    
                </tr>
                {% if total_income%}
                <tr> 
                  <th scope="col">Total Expense</th>
                  <th scope="col">{{total_expenses}}</th>
                </tr>
                <tr> 
                  <th scope="col">Balance</th>
                  <th scope="col">{{balance}}</th>
                </tr>
                {% endif %}
            </thead>
       


  
{% endblock content%}